*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0px;
  font-family: 'Muli', sans-serif;
  background-color: #ebebeb;
  display: flex;
  /* height: 100vh; */
  flex-flow: column;
}
.header {
  background-color: #2a2a2a;
  width: 100%;
  height: 90px;
  top: 0px;
  display: grid;
  grid-template: 100% / 40% 30% 30%;
}
.header__logo {
  grid-area: 1 / 1 / 2 / 2 ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__img {
  width: 90px;
  margin-left: 30px;
}

.header__social {
  grid-area: 1 / 2 / 2 / 4 ;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__social span {
  color: cyan;
  font-size: 18px;
  margin-right: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__social ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}
.header__social ul li {
  background-color: white;
  border-radius: 100%;
  margin: 10px;
  cursor: pointer;
}
.header__social ul li img {
  height: 25px;
  margin: 5px;
  display: flex;
  align-items: center;
}

.header__menu {
  grid-area: 4 / 1 / 5 / 5 ;
  background: #2a2a2a;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0px 30px;
}
.header__menu ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0px 30px;
}
.header__menu li {
  margin: 10px 0px;
}
.header__menu li p {
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.header__menu li p:hover {
  text-decoration: underline;
}

.header__menu--productos-lista {
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 80%;
  text-align: right;
}
.header__menu--productos:hover .header__menu--productos-lista, .header__menu--productos-lista:hover {
  display: block;
}

.footer {
  background-color: #2a2a2a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}
.footer__utility a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
.footer__utility a:hover {
  text-decoration: underline;
}
.footer__copyright a {
  color: white;
  font-size: 14px;
  padding-left: 0px;
  padding-right: 30px;
  text-decoration: none;
}